@font-face {
  font-family: 'gilroy-light';
  src: url("fonts/gilroy-light.otf") format('woff');
}
@font-face {
  font-family: 'gilroy-extrabold';
  src: url("fonts/gilroy-extrabold.otf") format('woff');
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'gilroy-light', sans-serif;
  font-size: 1em;
  background-color: white;
  color: black;
}

strong {
  font-family: "gilroy-extrabold";
  font-weight: bold;
}

section {
  padding: 2em 2em 
}

footer {
  text-align: center;
  margin-bottom: 2%;
}

.nav-container {
  background-color: #62079D;
  // position: fixed;
  width: 100%;
  z-index: 100;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  a {
    color: white;
  }
  .logo {
    font-family: 'gilroy-extrabold';
    font-size: 1em;
    color: #4CC9F0;
  }
  ul {
    display: flex;
    a {
      display: block;
      padding: 0 1em;;
    }
  }
}

.heading {
  padding: 1em 0em;
  font-family: 'gilroy-extrabold';
  font-size: 2em;
  display: block;
  width: fit-content;
  margin: auto;
}

.hero {
  width: auto;
  margin: 0;
  background-color: #7209B7;
  color: white;
  padding: 30px 60px;
  text-align: center;
  box-shadow: 11px 11px 25px -6px rgba(0, 0, 0, 0.2);
}

.hero__heading {
  // margin-top: 2em;
  padding: .5em 0em;
  font-family: "gilroy-extrabold";
  font-size: 3em;
  position: relative;
  z-index: 1;
  display: block;
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #8831C1;
    height: .7em;
    width: 5.5em;
    left: 50%;
    margin-left: -3em;
    top: 1.1em;
    z-index: -1;
  }
}

.hero__text {
  padding: 2.5em 0em;
  font-size: 1em;
  line-height: 2em;
}

.hero__image {
  border-radius: 18px;
}

.skills {
  position: relative;
  .heading {
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 626px;
      width: 626px;
      left: 0;
      top: 0;
      border-radius: 50%;
      background-color: #F9F0FF;
      z-index: -2;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 626px;
    width: 626px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-color: #ECEFFE;
    z-index: -2;
  }

}

.card {
  margin: 2em;
}

.card-container {
  background-color: white;
  height: 226px;
  width: 226px;
  margin: auto;
  box-shadow: 11px 11px 25px -6px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  text-align: center;
  transition: ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &:hover {
    transform: scale(1.04);
    transition-duration: 200ms;
  }

  .card-header {
    font-family: 'gilroy-extrabold';
    display: block;
    padding: 3em 0em 0em;
  }

  .card-text {
    padding: 0em 0em 3em;
    display: block;
  }
}

.inspirations {
  background-color: #4562EB;
  color: white;
  box-shadow: 11px 11px 25px -6px rgba(0, 0, 0, 0.2);

}

.card2 {
  margin: 1em 2em;
}

.card-container2 {
  a {
    color: white;
  }
  height: 226px;
  width: 226px;
  margin: auto;
  text-align: center;
  transition: ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: scale(1.04);
    transition-duration: 200ms;
  }

  img {
    display: block;
    margin: 2em auto 0;
    width: 80px;
    height:auto;
    border-radius: 50%;
  }

  .card-header {
    font-family: 'gilroy-extrabold';
    display: block;
    padding: 1em 0em 0em;
  }

  .card-text {
    padding: .5em 1em 3em;
    display: block;
  }
}